<div class="banner">
  <h1>Movie lists</h1>
</div>
<div class="list-container container">
  <div class="row">
<% @lists.each do |list| %>
  <h3 class="col-2 card"><%= link_to list.name, list_path(list), class:"text-decoration-none" %></h3>
<% end %>
</div>


